@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #eee;
  background: theme("colors.background.DEFAULT");
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
